/* INTRODUCTION */
.box-intro {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 140px;
  align-items: center;
  margin-bottom: 120px;
}

.box-intro img {
  width: 360px;
}

.intro-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.intro-title {
  font-size: 4.5rem;
  font-weight: bold;
  justify-self: start;
}

.intro-location {
  font-size: 1.5rem;
  color: #525252;
}


/* EXPERINCE */

.box-exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  column-gap: 106px;
}

.exp-title {
  font-size: 9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #E0e0e0;
  word-break: break-all;
  grid-row: 1 / -1;
  /* max-width: 329px; */
}

.exp-desc {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.exp-desc-resume {
  font-size: 1.5rem;
  text-align: left;
  color: #525252;
}

.exp-topics {
  gap: 20px;
}

.exp-topics-content {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.exp-topics-content::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 4px;
  background-color: #b6f829;
  left: -5px;
  top: 20px;
  border-radius: 1px;
}

.exp-topics-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 75px;
  background-color: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}



.content-title {
  font-size: 1.125rem;
  color: #000;
  font-weight: 700;
}

.content-desc {
  font-size: 0.875rem;
  font-weight: 400;
  color: #525252;
}

.content-hab {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 10px;
  align-self: start;
}

.content-hab li {
  background-color: #ffff;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
}