/* Introductio */

.introduction {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 140px;
}

.introduciton-profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-self: center;
  gap: 30px;
  position: relative;
}

.profile-detail {
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
}

.profile-title {
  font-size: 4.5rem;
  font-weight: bold;
}

.profile-location {
  font-size: 1.5rem;
  color: #525252;
}


/* Experience */

.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 100px;
  gap: 106px;
}

.experience-title {
  font-size: 9rem;
  color: #e0e0e0;
  font-weight: bold;
  text-transform: uppercase;
  word-break: break-all;
  text-align: top;
  text-justify: left;
}

.experience-description {
  display: grid;
  align-items: center;
}

.experience-description-resume {
  font-size: 1.5rem;
}


/* .experience-topics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.experience-description-topics {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  justify-items: end;
}

.experience-description-topics-year {
  font-size: 0.875rem;
  color: #525252;
  padding-top: 20px;
}





.experience-description-topics-title,
.experience-description-topics-resp {
  font-size: 1.125rem;
  font-weight: bold;
}

 */



.grid-topics-experience {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  border: 1px solid red;
}

.topics-experience-year {
  display: flex;
  justify-self: end;
  padding-top: 20px;
  border: 1px solid red;
}

.topics-experience-description::before {
  content: "";
  height: 20px;
  width: 4px;
  background-color: #b6f829;
  top: 20px;
  left: -4px;
  position: absolute;
}


.topics-experience-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 75px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  position: relative;
}


.topics-experience-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.topics-experience-hab {
  display: flex;
  flex-wrap: wrap;
  place-self: start;
  gap: 10px;

}

.topics-experience-hab-2 {
  font-size: 0.875rem;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;

}