.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.navegation {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.navegation-bttn {
  font-size: 1.125rem;
  color: #141414;
}