/* || HEADER */

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .navegation {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navegation-bttn {
    background-color: #c4c4c4;
    border-radius: 5px;
  }
}


/* || BODY */

/* | Intro */

/* |Experience */

/* | Graduation */


/* || FOOTER */