/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

/* CSS Imports */
@import "../css/header.css";

@import "./intro.css";

@import "./exp.css";

@import "./graduation.css";

@import "./footer.css";

@import "./js-style/js.css";


/* || GENERAL DEFINITIONS ||*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: #525252;
}

.subtitle {
  font-size: 9rem;
  font-weight: bold;
  text-transform: uppercase;
  word-break: break-all;
}